---
{{ ansible_managed | comment }}

{% if prometheus_web_configuration is defined and prometheus_web_configuration | length > 0 %}
{{ prometheus_web_configuration | to_nice_yaml(indent=2) }}
{% endif %}
